@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --blue: #387df6;
  --lightblue: #7fadff;
  --gray: #716f70;
  --white: #ffffff;
  --lightgray: #bbbbbb;
  --headgray: #424242;
  --lightpink: #fff1f3;
}
